body,
html {
    height: 100%;
    color: #e7e7e7;
    background-color: #332535;
    line-height: 1.8;
    font-size: 1em;
}

/* Navigation Bar */
nav a.this::before {
    content: "\276C\2000";
}

nav a.this::after {
    content: "\2000\276D";
}

nav a::before,
nav a::after {
    content: "\2002\2008";
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../img/ouprpe.svg");
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    /* background-image: url("/w3images/parallax2.jpg"); */
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    /* background-image: url("/w3images/parallax3.jpg"); */
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}
.w3-hover-opacity {
    cursor: pointer;
}
h3 {
    background-image: url("../img/header.svg");
    background-color: rgba(205, 134, 63, 0.5);
    min-width: 100%;
    box-shadow: 0 10px 5px -5px #000 ;
    margin-top: 2em;
}
h4 {
    font-style: italic;
}
p {
    padding: 8px 20px;
}
em.goal {
    display: block;
    padding: 1em 0.5em 0;
}
em.exp {
    display: block;
    padding: 0 0.5em 1em;
}

/* About Me "Embedded" Content */
div.embed {
    overflow: auto scroll;
    height: 30vh;
    /* scrollbar-color: #000000aa #e7e7e780; */
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}
