/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Rethink+Sans&display=swap');

/* Defaults */
:root {
    --background: #dddddd;
    --foreground: #131313;
    --foreground-inverse: #dddddd;
    --accent-pink: #945674;
    --accent-purple: #615685;
    --accent-blue: #418ab3;
    --accent-green: #a6b727;
    --accent-orange: #db6a48;
    --link: #db6a48;
}

body,
html {
    height: 100vh;
    overflow: scroll;
    color: var(--foreground);
    background-color: var(--background);
    line-height: 1.8;
    font-family: "Rethink Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-variation-settings: "FLAR" 75;
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arbutus Slab", Georgia, Times, serif;
}

/* Navigation Bar */
header {
    position: sticky;
    top: 0;
}

nav {
    overflow-y: visible;
    width: 100%;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--foreground);
}

nav a:focus,
nav a.this:focus {
    background-color: var(--accent-pink);
    color: var(--foreground-inverse);
    display: inherit;
}

nav a.this {
    background-color: var(--accent-blue);
    color: var(--foreground-inverse);
}

nav ul.submenu {
    display: none;
    list-style-type: none;
}

nav .has-submenu.submenu-open ul {
    display: inline;
}

nav .has-submenu.submenu-open li {
    display: inherit;
}

nav .menu-icon.submenu-open {
    transition: 0.5s ease;
    transform: rotate(180deg);
}

nav a:not(:first-child),
nav.nav-open div {
    display: none;
}

nav.nav-open a:not(:first-child),
nav.nav-open div {
    display: inherit;
}

@media screen and (min-width: 1024px) {
    nav .has-submenu.submenu-open ul {
        flex-direction: row;
    }

    nav ul.submenu {
        font-size: 1rem;
        width: max-content;
        z-index: 1;
        margin: 0;
    }
}

/* Header */
h1 {
    display: block;
    background: var(--accent-pink);
    background: linear-gradient(17deg, var(--accent-pink), var(--accent-purple) 33%, var(--accent-blue) 66%, var(--accent-green) 100%);
    border-radius: 17px;
    color: var(--foreground-inverse);
    margin: auto;
    padding: 1em 0;
    font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
    h1 {
        min-height: 5em;
        height: 30vh;
        padding: 10vh 2em;
        font-size: 2.3em;
    }
}

/* Content */
main {
    margin-bottom: 2em;
}

h2,
h3 {
    min-width: 100%;
    margin: 2em 0 1em;
}

h4 {
    font-style: italic;
}

p {
    padding: 8px 20px;
}

a:link,
a:visited {
    color: var(--link);
}

a:hover,
a:focus {
    color: var(--accent-green);
}

ul {
    text-align: left;
    width: 90%;
    margin: 10px;
}

ul.margin-left {
    width: 70vw;
    margin-left: 20vw;
}

em.goal {
    display: block;
    padding: 1em 0.5em 0;
}

em.exp {
    display: block;
    padding: 0 0.5em 1em;
}

iframe.video {
    width: 76vw;
    height: 54vw;
}

iframe.characteristics {
    width: 96vw;
    height: 64vw;
}

@media screen and (min-width: 1024px) {
    ul.margin-left {
        margin-left: 128px;
    }

    iframe.video {
        width: 640px;
        height: 480px;
    }

    iframe.characteristics {
        width: 960px;
        height: 640px;
    }
}

/* Images */
p.attribution {
    font-size: 0.8em;
    font-style: italic;
}

img {
    width: 90%;
    margin: 1em 0;
}

img.attribution {
    width: 1em;
    height: 1em;
    margin: 0.125em;
    padding-bottom: 0.125em;
    display: inline;
}

@media screen and (min-width: 1600px) {
    img {
        max-height: 50vh;
        object-fit: cover;
        object-position: 0% 60%;
    }

    img.heroes {
        object-fit: contain;
        max-width: 30vw;
        display: block;
        margin: auto;
    }

    a img.heroes:hover,
    a img.heroes:focus {
        transform: scale(1.02);
    }

    div ul {
        margin: 1em;
        padding: 0;
        text-align: left;
        list-style-position: inside;
    }

    div.classroom {
        clear: both;
        width: 100%;
        min-height: 50vh;
        margin-bottom: 1em;
    }
}

/* Tables */

table {
    width: 90%;
    margin: auto;
}

table.udl th {
    width: 10%;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

table,
td,
th {
    text-align: left;
    padding: 0.125em;
}

td,
table.udl th {
    border-top: 1px solid var(--accent-blue);
}

th.petey,
td.petey {
    display: none;
}

@media screen and (min-width: 1024px) {
    table.udl th {
        writing-mode: initial;
        text-orientation: initial;
        width: 30%;
    }

    th.petey,
    td.petey {
        display: table-cell;
    }
}

/* About Me "Embedded" Content */
div.embed {
    overflow: auto scroll;
    height: 30vh;
    /* scrollbar-color: #000000aa #e7e7e780; */
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
}